hr {
  width: 100%;
}

.border-y {
  border-top: 1px solid var(--grey1);
  border-bottom: 1px solid var(--grey1);
}

.category-list {
  overflow-x: scroll;
  flex-wrap: nowrap;
}

.category-list li {
  flex-shrink: 0;
}

.category-list-item {
  border: 1px solid var(--grey1);
  border-radius: 999px;
  padding: 8px;
  color: var(--grey1);
}
