#MainView {
    position: relative;
}

.header {
    z-index: 100;
}

.header-container {
    position: relative;
}  

.header-container img {
    filter: var(--filter-white);
}  

.header-center img {
    height: 18px;
    margin-bottom: 4px;
    margin-right: 4px;
}

.header-center {
    margin-top: 2px;
    width: 100%;
}

.header-left {
    position: absolute;
    left: 0;
}

.header-right {
    position: absolute;
    right: 0;
}

.header-right img {
    margin-left: 16px;
}

.product-list-item {
    border-bottom: 1px solid var(--grey3)
}

.product-info {
    flex-grow: 1;
    padding-left: 16px;
    height: 100%;
}

.product-info-title {
    display: flex;
    align-items: center;
}

.product-price {
    margin-top: 4px;
}

.product-icon-section {
    position: relative;
    width: 100%;
}

.product-icon-box {
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
}

.product-bottom-icon {
    width: 16px;
    height: 16px;
    margin: 0 5px 0 16px; 
}

.login-view {
    transition: 0.2s ease-out ;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 100%;
    width: 100%;
    z-index: 200;
    background-color: var(--white);
    overflow: hidden;
    
}

.login-view__visible {
    transition: 0.2s ease-in;
    transform: translateX(-100%);
}